* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Sofia Sans Semi Condensed', sans-serif;
  background-color: rgb(1, 1, 8);
}

body::-webkit-scrollbar{
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
  font-style: oblique;
  font-variant-caps: all-petite-caps;
}

.header-container {
  width: 1000px;
  color: white;
  font-size: 1.4rem;
  padding-top: 2%;
  animation: left-to-right 400ms ease-in;
  margin-left: 9%;
  margin-top: 13%;
}

@keyframes left-to-right {
  0% {
    transform: translatex(-100%)
  }
}

.header-container > h1, h3, h4 {
  margin-top: 15px;
}

.bold-name {
  color: orange;
  font-weight: bolder;
}


.nav-container {
  background-color: orange;
  display: flex;
  justify-content: space-around;
  min-width: 100%;
  height: 40px;
  margin-top: -5vmax;
  margin: 0 0 0 0; 
  font-size: larger;
  padding: 10px;
  box-shadow: 0 2px 4px 2px orange;
  position: fixed;
  top: 0;
}

li {
  display: inline-block;
  margin-right: 80px;
  margin-left: 100px;
  list-style: none;
  font-weight: 600;
  font-size: larger;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: white;
}

a:visited {
  color: none;
}

a:hover {
  text-decoration: none;
  color: wheat;
}

.project-frame {
  display: grid;
  grid-template-columns: auto auto auto auto ; 
  margin: 12% auto 20% 15%;
  gap: 5px;
  animation: bottom-to-top 200ms ease-in;
}

@keyframes bottom-to-top {
  0% {
    transform: translateY(100%);
  } 
}

.image-container {
  width: 260px;
  height: 300px;
  margin-bottom: 36px;
}

.project-img {
  width: 260px;
  height: 300px;
  border: 2px solid orange;
  opacity: 50%;
  transition: opacity 0.5s ease;
}

.project-img:hover {
  opacity: 100%;
}

.project-dscrp {
  max-width: 220px;
  position: absolute;
  overflow: hidden;
  display: block;
  text-indent: 3px;
  color: orange;
}

button {
  cursor: pointer;
}

.nav-container button {
  display: none;
}

.display-text-btn {
  padding: 5px;
  border: none;
  color: seagreen
}

.description-image {
  display: none;
}

/* ------------Contact Page Styling------------- */

.contact-container {
  position: relative;
  top: 100px;
  margin-left: 41%;
  color: white;
}


/*-------------Begin responsiveness for mobile---------------*/

@media (max-width: 800px) {
  
  .project-dscrp {
    display: none ;
  }
  
  .description-image {
    display: block;
    position: relative;
    top: -200px;
    color: rgb(90, 244, 255);
    font-size: larger;
    opacity: 100%;
    margin-left: 15px;
  }
  
  
  .project-frame {
    display: block;
    /* flex-direction: column; */
    margin-left: auto;
    animation: fade-in none;
  }

  .project-frame {
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
  }
  @keyframes fadeIn {
    0% {
      opacity:0%;
    }
    100% {
      opacity:100%;
    }
  }
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  .header-container {
    max-width: fit-content;
  }

  .ham-bars {
    position: fixed;
    display: inline-block;
    margin-right: auto;
    height: 25px;
    position: fixed;
    top: 10px;
    left: 25px;
  }
  
  .nav-container {
    position: relative;
  }

  .nav-container button {
    position: fixed;
    display: block;
    background-color: orange;
    border: none;
  }
  
  .menu-open {
    position: fixed;
    background-color: orange;
    height: 100%;
    width: 100%;
    z-index: 12;
    animation: menu-to-open .5s ease;
  }
  
  @keyframes menu-to-open {
  0% {
    transform: translatey(-100%);
  }
  }

  .li-display {
    display: block;
    list-style-type: none;
    margin-top: 10%;
    font-weight: 600;
    font-size: larger;
    text-transform: uppercase;
    z-index: 12;
  }

  .li-display li {
    margin-top: 15%;
    margin-left: 40%;
  }

  .li-none {
    display: none;
    margin-top: 15%;
  }

  a:hover {
    background: black;
    color: white;
    border-radius: 5px;
    width: 100px;
    text-align: center;
    box-shadow: 0 2px 5px black;
  }

}