* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Sofia Sans Semi Condensed', sans-serif;
  background-color: rgb(1, 1, 8);
}

body::-webkit-scrollbar{
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
  font-style: oblique;
  font-variant-caps: all-petite-caps;
}

.header-container {
  width: 1000px;
  color: white;
  font-size: 1.4rem;
  padding-top: 2%;
  animation: left-to-right 400ms ease-in;
  margin-left: 9%;
  margin-top: 13%;
}

@keyframes left-to-right {
  0% {
    transform: translatex(-100%)
  }
}

.header-container > h1, h3, h4 {
  margin-top: 15px;
}

.bold-name {
  color: orange;
  font-weight: bolder;
}


.nav-container {
  background-color: orange;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 40px;
  margin-top: -5vmax;
  margin: 0px 0 0 0; 
  font-size: larger;
  padding: 10px;
  box-shadow: 0 2px 4px 2px orange;
}

.nav-container > li {
  list-style: none;
  font-weight: 600;
  font-size: larger;
}

a {
  text-decoration: none;
  color: white;
}

a:visited {
  color: none;
}

a:hover {
  text-decoration: none;
  color: wheat;
}

.app-container {
}

.project-frame {
  display: grid;
  grid-template-columns: auto auto auto auto ; 
  margin: 12% auto 20% 15%;
  gap: 5px;
  animation: top-to-bottom 200ms ease-in;
}

@keyframes top-to-bottom {
  0% {
    transform: translateY(-100%);
  } 
}

.image-container {
  width: 260px;
  height: 300px;
  margin-bottom: 36px;
}

.project-img {
  width: 260px;
  height: 300px;
  border: 2px solid orange;
}

.project-dscrp {
  max-width: 220px;
  position: absolute;
  overflow: hidden;
  display: block;
  text-indent: 3px;
  color: orange;
}

button {
  cursor: pointer;
}

.display-text-btn {
  padding: 5px;
  border: none;
  color: seagreen
}



/* begin responsiveness for mobile */
@media (max-width: 600px) {
  .app-container {
      display: block;
      text-align: center;
      min-width: 360px;
  }
  .nav-container {
      display: flex;
      gap: 70px;
      min-width: 339px;    
  }
}